.taskContainer {
	display: flex;
	padding: 12px;
	border-bottom: 1px solid #ddd;
	align-items: center;
}
.taskContainer:last-child {
	border: none;
}
.statusCheckbox {
	width: 22px;
	height: 22px;
	margin: 0 12px 0 0;
	cursor: default;
}
.taskTitle {
	width: 100%;
	margin-right: 12px;
	cursor: pointer;
}
.titleText {
	display: block;
	padding: 3px 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 400px;
}
.titleText:hover {
	background: #f5f5f5;
}